<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <label>邮箱</label>
    <br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
    <label>密码</label>
    <br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div>
    <label>确认密码</label>
    <br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div>请选择用户类型：<br />
    <input type="radio" name="user[role]" value="restaurant">餐厅<br>
    <input type="radio" name="user[role]" value="delivery_man">外卖员
    <br>
    <br>
  </div>

  <div><%= f.submit "注册" %></div>
<% end %>

<%= render "devise/shared/links" %>
