<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <label>名称</label><br>
    <%= f.text_field :restaurant_name %>
  </div>
  <div class="field">
    <label>地址</label><br>
    <%= f.text_field :location %>
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="完成修改">
  </div>
<% end %>
