<div>
  <%= render 'layouts/neworderbar' %>
</div>

<div class="container app-container-inner new-order-bar-open">
  <div>
    <h3>我的订单</h1>

      <div class="switch-toggle switch-candy" style="width: 20%;">
        <input id="candy1" name="candy" type="radio" value="today" checked>
        <label for="candy1" onclick="">当日订单</label>

        <input id="candy2" name="candy" type="radio" value="all">
        <label for="candy2" onclick="">全部订单</label>

        <a></a>
      </div>
    <table class="table table-main">
      <thead>
        <tr>
          <th>序号</th>
          <th>订单号</th>          
          <th>地址</th>
          <th>数量</th>
          <th>付款方式</th>
          <th>价格</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>

      <tbody class="table-main-body">
        <% @orders.each_with_index do |order, index| %>
          <% if index % 2 == 1 %>
            <tr class="alt">
          <% else %>
            <tr>
          <% end %>
            <td><%= @orders.size - index %></td>            
            <td><%= "##{order.id}" %></td>            
            <td class="text-left"><%= order.address_name %></td>
            <td><%= order.amount %></td>
            
            <% if order.payment_method == "online" %>
            <td>在线支付</td>
            <% else %>
            <td>现金支付</td>
            <% end %>
            <td><%= order.price %></td>
            
            <td>
              <% if order.status == "pending" %>
                <span class="status-tag pending">待分配</span>
              <% elsif order.status == "in_progress" %>
                <span class="status-tag in-progress">运送中</span>
              <% else %>
                <span class="status-tag done">完成</span>
              <% end %>
            </td>
            <td><%= link_to '显示详情', order %>
              <%= link_to '编辑', edit_order_path(order) %>
              <%= link_to '取消订单', order, method: :delete, data: { confirm: '你确定取消订单吗？' } %>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h4>总览</h4>
    <table class="table table-summary">
      <thead>
        <tr>
          <th>总订单号</th>
          <th>数量</th>
          <th>价格</th>
          <th>待分配</th>
          <th>运送中</th>
          <th>已送达</th>
        </tr>
      </thead>

      <tbody class="table-summary-body">
        <td><%= @orders.size %></td>
        <td><%= @summary[:amount] %></td>
        <td><%= @summary[:price] %></td>
        <td><%= @summary[:pending] %></td>
        <td><%= @summary[:in_progress] %></td>
        <td><%= @summary[:done] %></td>
      </tbody>
    </table>

  </div>
</div>

<script type="text/javascript">
  // Change This Later
  $("input:radio[name='candy']").click(function(){
    window.location.replace("http://localhost:3000/orders?filter=" + $(this).val());
    // $.ajax( {
    //   type: "GET",
    //   url: "/orders?filter=" + $(this).val(),
    //   async: false,
    //   success: function( response ) {
    //     alert("Success" + response);
    //   }
    // });
  });

  var filter = "<%= @filter %>"
  if (filter == "all") {
    $("#cand2").prop("checked", true);
  } else {
    $("#cand1").prop("checked", true);
  }
</script>
