<div>
  <label>餐厅编号: </label>
  <%= @order.user.id %>
</div>
<div>
  <label>目的地: </label>
  <%= @order.address_name %>
</div>
<div>
  <label>数量: </label>
  <%= @order.amount %>
</div>
<div>
  <label>价钱: </label>
  <%= @order.price %>
</div>
<div>
  <label>外卖员号: </label>
  <%= @order.delivery_man.id if @order.delivery_man %>
</div>
<div>
  <label>状态: </label>
  <% if @order.status == "pending" %>
    <span class="status-tag pending">待分配</span>
  <% elsif @order.status == "in_progress" %>
    <span class="status-tag in-progress">运送中</span>
  <% else %>
    <span class="status-tag done">完成</span>
  <% end %>
</div>

<%= link_to '编辑', edit_order_path(@order) %> |
<%= link_to '后退', orders_path %>
